.SaInvoicePrint{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.SaInvoicePrint__content{
    border: 1px solid black;
    padding: 20px;
}
.SaInvoicePrint button{
    text-align: center;
    background: linear-gradient(to left, #8a28d9 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    color: #fff;
    font-size: large;
    width: 100px;
    height: 40px;
    margin-right: 19px;
    font-family: Montserrat;
    border-radius: 5px;
    border: 1px solid #8a28d9;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1rem;
}
.SaInvoicePrint button:hover{
    background-position: left;
    color: #8a28d9;
    box-shadow: 1px 2px 5px #8a28d9;
}